<%= simple_form_for([@topic, @topic.notes.build]) do |f| %>
  <div class="columns">
    <div class="column is-12">
      <div class="columns is-marginless">
        <div class="column is-12">
          <%= f.rich_text_area :body %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-12 flex-right">
      <%= f.button :submit, class: 'button is-primary', value: "Save" %>
    </div>
  </div>
  
<% end %>