<div class="columns">
  <div class="column is-12 flex-center">
    <h1>New note</h1>
  </div>
</div>
<%= render "form" %>
<div class="columns">
  <div class="column is-12 flex-center">
    <%= link_to "Back to topic", topic_path(@topic), class: "button" %>
  </div>
</div>
