<div class="columns">
  <div class="column is-12 flex-center">
    <h1>Editing user info</h1>
  </div>
</div>
<%= render "form", user: @user %>
<div class="columns">
  <div class="column is-12 flex-center">
    <%= link_to "Back to user list", users_path, class: "button small-margin-left" %>
  </div>
</div>