<% if user_signed_in? %>
  <script type="text/javascript">
      window.location.href = "/topics"
  </script>
<% else %>
  <div class="columns">
    <div class="column is-12 flex-center">
      <main>
        <div class="forum-welcome">
          <h1>Welcome to our website's forum!</h1>
          <p>
            It is a thriving hub for knowledge exchange and vibrant discussions.
            Engage with a diverse community of enthusiasts, where you can explore topics of your interest and share your expertise.
            Register to join the conversations, ask questions, and contribute valuable insights.
            We foster a respectful and inclusive environment to ensure everyone's voice is heard.
            Together, let's create an enriching experience on our forum
          </p>
        </div>
      </main>
    </div>
  </div>
<% end %>