<div class="columns">
  <div class="column is-12 flex-center">
    <%= link_to "New category", new_category_path, class: 'button main-color' %>
  </div>
</div>

<div id="notes">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>