<h1>Category</h1>
<%= render @category %>

<h2>Topics</h2>
<%= render @category.topics %>

<div class="columns">
  <div class="column is-12 flex-center">
    <%= link_to "New topic", new_topic_path(@category), class: 'button main-color' %>
  </div>
</div>